@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#fff;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#b2b0c6 url(../images/main_bg.jpg) repeat left top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:url(../images/header_bg.jpg) no-repeat center top;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	line-height:1.2em;
	color:#646364;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#978fec;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	background:no-repeat center 78px;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:962px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:121px;
}
h1 {
	width:220px;
	margin:0 0 0 15px;
	padding:20px 0 0 0;
	font-size:45px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	text-align:center;
	letter-spacing:2px;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	margin:-6px 0;
	font-size:12px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#82b7ed;
}
.slider {
	margin:0;
	padding:16px 16px 0 17px;
	background:#65a7ea;
	border:1px solid #578cc2;
	border-bottom:none;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0;
	padding:0;
	height:66px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0 0 0 2px;
	height:56px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:24px;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	color:#a7d2fc;
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:none;
}
.content {
	padding:0 0 24px;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
	background:#65a7ea;
	border:1px solid #578cc2;
	border-top:none;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:660px;
}
.content .mainbar h2 {
	margin-bottom:0;
	color:#fff;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:1px solid #5b96d2;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
}
.content .mainbar .post_content {
	float:right;
	width:420px;
}
.content .mainbar .post_content strong {
	color:#fff;
}
.content .sidebar {
	padding:0;
	float:left;
	width:280px;
}
.content .sidebar .gadget {
	margin:0 0 12px 20px;
	padding:6px 20px 24px;
	background:#fff url(../images/gadget_bg.gif) repeat-x left bottom;
}
.content .sidebar h2 {
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#7e7e7e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
	background:repeat-x left bottom;
}
ul.sb_menu li a {
	color:#7e7e7e;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
	background:no-repeat left center;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#7e7e7e;
	text-decoration:none;
	background:no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#978fec;
	font-weight:bold;
	text-decoration:none;
}
.content .mainbar .article a {
	color:#fff;
	text-decoration:underline;
}
p.spec {
	padding:0;
	height:33px;
	background:#fff url(../images/readmore.gif) repeat-x left center;
}
p.infopost {
	margin:0;
	padding:6px 12px;
	text-transform:none;
	background:#fff url(../images/readmore.gif) repeat-x left center;
	color:#7e7c7c;
}
.content .mainbar .article p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#2a80d7;
	font-weight:bold;
}
.content .mainbar .article p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
	color:#2a80d7;
}
.article a.com {
	display:block;
	float:right;
	margin:0;
	padding:3px 0 0;
	width:90px;
	font-size:24px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#fff;
	background:url(../images/comment.jpg) no-repeat center top;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:normal;
	font-size:30px;
}
.content .mainbar .article .post_content a.rm {
	display:block;
	float:left;
	margin:0 0 12px;
	padding:9px 12px;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	text-transform:none;
	color:#978fec;
	text-decoration:none;
	text-align:center;
	background:no-repeat left center;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	line-height:16px;
	color:#fff;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#5388be;
}
.content p.pages a {
	color:#fff;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	background:#65a7ea;
	border:1px solid #578cc2;
}
.fbg h2 {
	margin-bottom:24px;
	padding-bottom:8px;
	color:#fff;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#fff;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fff;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
.footer p.lf span {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:20px 0 12px 20px;
	float:left;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 10px;
	float:left;
	width:213px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:no-repeat center top;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#fff;
}
.footer_resize p {
	margin:32px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#fff;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
.maintenance{
	padding: 20px;
	text-align: center;
}
.form {
	width: 400px;
}
.message {
	margin: 10px 0px;
	padding: 12px;
	background-color: white;
	color: black;
}
table {
	color: black;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
}
table a {
	color: black;
}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}