<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Sipios Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/css/style.css}" href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/coin-slider.css" />
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon-titillium-250.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main indexpage">
    <div class="header">
        <div class="header_resize">
            <div class="menu_nav">
                <ul th:if="${maintenanceDisabled}">
                    <li class="active"><a href="/"><span>Accueil</span></a></li>
                    <li><a href="/se-connecter"><span>Déjà client?</span></a></li>
                </ul>
            </div>
            <div class="logo">
                <h1><a href="/"><span>Sipios Bank</span> <small>L'investissement sain, aujourd'hui</small></a></h1>
            </div>
            <div class="clr"></div>
            <div class="slider">
                <div id="coin-slider"> <a href="#"><img src="/images/slide1.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="/images/slide2.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="/images/slide3.jpg" width="927" height="323" alt="" /> </a> </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                <h3 sec:authorize="!hasRole('ROLE_ADMIN')" th:if="${!user.chats.empty}">Chat avec ton conseiller</h3>
                <h3 sec:authorize="hasRole('ROLE_ADMIN')" th:if="${!user.chats.empty}">Chat avec un client</h3>
                <h3 th:if="${user.chats.empty}">Veullez contacter votre conseiller pour obtenir un compte PREMIUM</h3>
                <div>
                    <th:block th:each="chat : ${user.chats}">
                        <div class="form">
                        <th:block th:each="message : ${chat.messages}">
                            <div class="message" th:utext="${message.value}">...</div>
                        </th:block>
                        <form th:id="@{form-chat-id-{id}(id=${chat.id})}" th:action="@{/chat/{id}(id=${chat.id})}" method="post">
                            <input type="text" id="message" name="message" autofocus="autofocus" /> <br />
                            <input type="hidden" id="userId" name="userId" th:value="${user.id}" /> <br />
                            <input type="submit" value="Envoyer" />
                        </form>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="sidebar">
                <div class="clr"></div>
                <div class="gadget">
                    <h2 class="star">Menu</h2>
                    <div class="clr"></div>
                    <ul class="sb_menu">
                        <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/user/{id}/chat(id=${user.id})}">Chat avec un corneiller</a></li>
                        <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/user/{id}/virement(id=${user.id})}">Faire un virement</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/user/{id}/clients?advisorId={id}(id=${user.id})}">Voir mes clients</a>
                        </li>
                    </ul>
                </div>
                <div class="gadget">
                    <h2 class="star"><span>Sponsors</span></h2>
                    <div class="clr"></div>
                    <ul class="ex_menu">
                        <li>Caïman Corp<br />
                            Des investissements paradisiaques</li>
                        <li>Laundering SARL<br />
                            Investissez dans des commerces locaux</li>
                        <li>Insider Trading Limited<br />
                            Tout savoir avant tout le monde</li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="fbg">
        <div class="fbg_resize">
            <div class="col c3">
                <h2><span>Nos</span> Services</h2>
                <p>Nous gérons vos comptes en banques et vos investissements comme si c'était les notres</p>
                <ul class="fbg_ul">
                    <li>Une réponse rapide à vos demandes (2 semaines maximum)</li>
                    <li>Une performance hors du commun : nous dépassons parfois les obligations d'état</li>
                    <li>Un risque contrôlé, souvent inférieur aux options</li>
                </ul>
            </div>
            <div class="col c3">
                <h2><span>Nous</span> Contacter</h2>
                <p>Pour devenir client, merci de vous rendre en agence de 10h30 à 11h30 et de 14h à 15h30 du mardi au vendredi</p>
                <p class="contact_info"> <span>Adresse Agence:</span> Sipios, 48 boulevard des batignolles, 75017 Paris</p>
                <p class="contact_info"> <span>Adresse Equipe Support IT:</span> Bam, 48 boulevard des batignolles, 75017 Paris</p>

            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_resize">
            <p class="lf">Copyright &copy; <a href="#">Sipios</a>. Tous droits réservés</p>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
</body>
</html>
