<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Toother</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/css/style.css}" href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon-titillium-250.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main indexpage">
    <div class="header">
        <div class="header_resize">
            <div class="menu_nav">
                <ul>
                    <li class="active"><a href="index.html"><span>Accueil</span></a></li>
                </ul>
            </div>
            <div class="logo">
                <h1><a href="index.html"><span>Sipios Bank</span> <small>L'investissement sain, aujourd'hui</small></a></h1>
            </div>
            <div class="clr"></div>
            <div class="slider">
                <div id="coin-slider"> <a href="#"><img src="images/slide1.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="images/slide2.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="images/slide3.jpg" width="927" height="323" alt="" /> </a> </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="content">
        <div class="content_resize">
            <div class="maintenance">
                Le site est actuellement en maintenance. Merci de revenir plus tard.
                <!-- The website is actualy under maintenance. It is most likely cause by a new deployement -->
                <!-- If you are a dev and want to check the outcome before disabling the maintenance mode, don't forget to usr the debug query param ! -->
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="footer_resize">
            <p class="lf">Copyright &copy; <a href="#">Sipios</a>. Tous droits réservés</p>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>

</body>
</html>
