<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Sipios Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/css/style.css}" href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/coin-slider.css" />
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon-titillium-250.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main indexpage">
    <div class="header">
        <div class="header_resize">
            <div class="menu_nav">
                <ul th:if="${maintenanceDisabled}">
                    <li class="active"><a href="/"><span>Accueil</span></a></li>
                    <li><a href="/se-connecter"><span>Déjà client?</span></a></li>
                </ul>
            </div>
            <div class="logo">
                <h1><a href="/"><span>Sipios Bank</span> <small>L'investissement sain, aujourd'hui</small></a></h1>
            </div>
            <div class="clr"></div>
            <div class="slider">
                <div id="coin-slider"> <a href="#"><img src="/images/slide1.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="/images/slide2.jpg" width="927" height="323" alt="" /> </a> <a href="#"><img src="/images/slide3.jpg" width="927" height="323" alt="" /> </a> </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                <h2>Effectuer un virement</h2>
                <p th:if="${transfer == null}">Veullez contacter votre conseiller pour obtenir un compte SUPER PREMIUM</p>
                <form id="form" th:if="${transfer}" th:action="@{/user/{userId}/virement(userId=${user.id})}">
                    <p>Pour effectuer un virement supérieur à 2000€, veuillez l'effectuer en présence de votre conseiller afin qu'il entre le code de virement important</p>
                    <p>Montant: <input type="number" name="amount" /></p>
                    <p>IBAN de destination: <input type="text" name="targetIban" /></p>
                    <p>Code pin personnel <input type="number" name="pinCode" /></p>
                    <p>Code de virement important (facultatif, à remplir par le conseiller) <input type="password" name="code" /></p>
                    <p><input type="submit" value="Soumettre" id="submitButton"/></p>
                </form>
            </div>

            <div class="sidebar">
                <div class="clr"></div>
                <div class="gadget">
                    <h2 class="star">Menu</h2>
                    <div class="clr"></div>
                    <ul class="sb_menu">
                        <li>
                            <a th:href="@{/user/{id}/compte?advisorId={id}(id=${user.id})}">Mon compte</a>
                        </li>
                        <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/user/{id}/chat(id=${user.id})}">Chat avec un conseiller</a></li>
                        <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/user/{id}/virement(id=${user.id})}">Faire un virement</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/user/{id}/clients?advisorId={id}(id=${user.id})}">Voir mes clients</a>
                        </li>
                    </ul>
                </div>
                <div class="gadget">
                    <h2 class="star"><span>Sponsors</span></h2>
                    <div class="clr"></div>
                    <ul class="ex_menu">
                        <li>Caïman Corp<br />
                            Des investissements paradisiaques</li>
                        <li>Laundering SARL<br />
                            Investissez dans des commerces locaux</li>
                        <li>Insider Trading Limited<br />
                            Tout savoir avant tout le monde</li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="fbg">
        <div class="fbg_resize">
            <div class="col c3">
                <h2><span>Nos</span> Services</h2>
                <p>Nous gérons vos comptes en banques et vos investissements comme si c'était les notres</p>
                <ul class="fbg_ul">
                    <li>Une réponse rapide à vos demandes (2 semaines maximum)</li>
                    <li>Une performance hors du commun : nous dépassons parfois les obligations d'état</li>
                    <li>Un risque contrôlé, souvent inférieur aux options</li>
                </ul>
            </div>
            <div class="col c3">
                <h2><span>Nous</span> Contacter</h2>
                <p>Pour devenir client, merci de vous rendre en agence de 10h30 à 11h30 et de 14h à 15h30 du mardi au vendredi</p>
                <p class="contact_info"> <span>Adresse Agence:</span> Sipios, 48 boulevard des batignolles, 75017 Paris</p>
                <p class="contact_info"> <span>Adresse Equipe Support IT:</span> Bam, 48 boulevard des batignolles, 75017 Paris</p>

            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_resize">
            <p class="lf">Copyright &copy; <a href="#">Sipios</a>. Tous droits réservés</p>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<script>
    document.getElementById("form").addEventListener("submit", myFunction);
    function myFunction(event) {
        var amount = document.getElementsByName("amount")[0].value;
        if (!amount) {
            alert("Merci d'entrer un montant positif");
            return;
        }
        var targetIban = document.getElementsByName("targetIban")[0].value;
        if (!amount) {
            alert("Merci d'entrer un compte destinataire du virement");
            return;
        }
        var pin= document.getElementsByName("pinCode")[0].value;
        if (!pin) {
            alert("Merci d'entrer votre code pin personnel");
            return;
        }
        var data = "<transfer>\n";
        data += "<targetIban>" + targetIban + "</targetIban>\n";
        data += "<amount>" + amount + "</amount>\n";
        data += "<pinCode>" + pin + "</pinCode>\n";
        var code = document.getElementsByName("code")[0].value;
        if (code) {
            data += "<code>" + code + "</code>\n";
        }


        data += "</transfer>";
        console.log(data);

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                alert(this.responseText);
            }
        });

        xhr.open("POST", $("#form").attr( 'action' ));
        xhr.setRequestHeader("Content-Type", "application/xml");
        xhr.setRequestHeader("Cache-Control", "no-cache");
        xhr.setRequestHeader("Postman-Token", "69a303e6-3f8d-4066-8cd1-d6da0718b669");

        xhr.send(data);
        event.preventDefault();
    }

</script>
</body>
</html>
